. filter=lfs diff=lfs merge=lfs -text
VLM+GPT.csv filter=lfs diff=lfs merge=lfs -text
test_3000.py filter=lfs diff=lfs merge=lfs -text
test_finetune.py filter=lfs diff=lfs merge=lfs -text
getans.py filter=lfs diff=lfs merge=lfs -text
output.csv filter=lfs diff=lfs merge=lfs -text
output1.csv filter=lfs diff=lfs merge=lfs -text
test_2.py filter=lfs diff=lfs merge=lfs -text
SimSun.ttf filter=lfs diff=lfs merge=lfs -text
aug_finetune_bad.csv filter=lfs diff=lfs merge=lfs -text
check_2.csv filter=lfs diff=lfs merge=lfs -text
forget_bad.csv filter=lfs diff=lfs merge=lfs -text
test_finetune.ipynb filter=lfs diff=lfs merge=lfs -text
version1.csv filter=lfs diff=lfs merge=lfs -text
Qwen14.ipynb filter=lfs diff=lfs merge=lfs -text
check_1.csv filter=lfs diff=lfs merge=lfs -text
finetune_1.csv filter=lfs diff=lfs merge=lfs -text
test.ipynb filter=lfs diff=lfs merge=lfs -text
check_3.csv filter=lfs diff=lfs merge=lfs -text
finetune_feedback.csv filter=lfs diff=lfs merge=lfs -text
install.py filter=lfs diff=lfs merge=lfs -text
